 .ant-table-thead>tr>th{text-align:center}.ant-table-cell{text-align:center}.asing-scroll{position: relative; top: 5em; max-width:100%;overflow-y:scroll;max-height:390px;}.table{background-color:#001529de}.table tbody{background-color:white}tr>th{text-align:center;color:white}tr>td{text-align:center;color:black}td>button{margin:.5em}.element-card-admin{display:flex;flex-wrap:wrap;justify-content:center}@media (min-width:1395px){.element-image-admin{margin:3em}}@media (max-width:1299px){.element-image-admin{margin:1em}} @media (max-width:577px) {.element-image-admin>.card { width: 11em; } }   .element-image-admin>.card{border:none;box-shadow:1px 1px 15px 3px rgba(112,112,112,.5);overflow:hidden}.element-image-admin img{transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out}.element-image-admin:hover img{transform:scale(1.08);-webkit-transform:scale(1.08);-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08)}
 .td-btn > a { margin: 0.6em; }

 tr > .return {
   background: lightgreen;
 }

 tr > .notreturn {
   background: lightcoral;
 }